@model Hyvinvointisovellus.Models.Kirjautuminen


<div class="modal fade" tabindex="-1" role="dialog" id="FiilisRuutu" aria-hidden="true" style="z-index:999999">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Hei @Session["UserName"]!</h4>
            </div>
            <div class="modal-body">
                <p>Millainen päivä sinulla on tänään? Haluaisitko kirjata heti ylös fiiliksesi?</p>
            </div>

            <div class="modal-footer">
                <p><a class="btn btn-outline-primary" href="~/Event/Index">Kirjaamaan päivän fiilis</a></p>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Ei kiitos</button>
            </div>


        </div>

    </div>
</div>
