@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Hei @Session["UserName"]!</h1>
	<p class="lead">
		Tämä on työpaikoille suunnattu sovellus, jonka tarkoituksena on edistää työpaikan ja erityisesti työntekijöiden työhyvinvointia.
		Sovelluksen avulla pystyt tarkastelemaan työntekijöitäsi, lisäämään uusia työntekijöitä ja myös muokkaamaan heidän tietojaan.
		Sovelluksen kautta voit myös tarkistaa työntekijöiden antamat palautteet, päivän fiilikset ja kommentoida palautteita.
	</p>
	@*<p><a href="~/Home/Palautteet" class="btn btn-primary btn-lg">Lue palautteita  &raquo;</a></p>*@ @*<-- jumbotronin button, tarvitaanko?*@
</div>

<div class="row">
	<div class="col-md-3">
		<h2>Työntekijät</h2>
		<p>
			Haluatko tarkastella työntekijöitäsi, tai muokata heidän tietojaan? Vai kenties lisätä uuden työntekijän?
		</p>
		<p><a class="btn btn-outline-dark" href="~/Tyontekijat/Index">Työntekijäluetteloon &raquo;</a></p>
	</div>
	<div class="col-md-3">
		<h2>Palautteet</h2>
		<p>Haluatko tarkastella ja kommentoida työntekijöidesi antamia palautteita?</p>
		<p><a class="btn btn-outline-dark" href="~/Palaute/Index">Palautteisiin &raquo;</a></p>
	</div>
	<div class="col-md-3">
		<h2>Päivän fiilis</h2>
		<p>Haluatko tarkastella työntekijöidesi fiiliksiä? </p>
		<p><a class="btn btn-outline-dark" href="~/Event/Index">Päivän fiiliksiin &raquo;</a></p>
	</div>
	<div class="col-md-3">
		<h2>Omat tiedot</h2>
		<p>Haluatko tarkastella tai muokata omia tietojasi?</p><br />
		<p><a class="btn btn-outline-dark" href="~/Home/OmattiedotTyonantaja">Omiin tietoihin &raquo;</a></p>
	</div>
</div>