@model IEnumerable<Hyvinvointisovellus.Hymynaama>

@{
	ViewBag.Title = "OmattiedotTyontekija";
}
<div class="jumbotron">
	<h1>Omat tiedot</h1>
    <p class="lead">
        Tämä sivu on vielä kehitystyön alla mutta täällä pääset jatkossa tarkastelemaan tai muokkaamaan omia tietojasi.

    </p>
	@*<p><a href="~/Home/Palautteet" class="btn btn-primary btn-lg">Lue palautteita  &raquo;</a></p>*@ @*<-- jumbotronin button, tarvitaanko?*@
</div>



<p></p>
<div>
	<a class="btn btn-outline-dark" href="/Home/IndexTyontekija">Takaisin etusivulle</a>
</div>

